body {
    font-family: Consolas;
}

#app {
    max-width: 640px;
    margin: 64px auto;
}

.list-group-item-action {
    list-style: none;
    cursor: pointer;
}
.styleProgress{
    background: lightgreen;
    height:10px;
    margin: 0;
}

#multipleType {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
    overflow:hidden;
    height:0;
}

label {
    display:flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
}
.customCheckbox {
    margin-right:10px;
    width:15px;
    height:15px;
    margin-left:10px;
}

#progress {
    background: lightgreen;
    height:20px;
    border-radius:3px;
    width:0px; 
    padding:0; 

}
